.post-page-box {
	min-height: 100vh !important;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.post-page-box .img-holder {
	padding: 20px;
}

.post-page-box img {
	margin: 10px auto;
}

.post-page-box .user-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-page-box .user-image img {
	width: 50px;
	margin-right: 10px;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 50%;
	right: 1%;
	transform: translateY(-50%);
	box-shadow: 0 0 10px white;
	color: white;
}
