.account-container {
	min-height: 100vh !important;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.image-holder img {
	width: 200px;
	height: 200px;
}

.user-info {
	margin: 15px 15px !important;
}

.account-info {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
}

.posts-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.account-post {
	margin: 10px auto !important;
}
